@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding: 20px; 
  color:white;
}
h1 {
  text-align: center;
  padding-top: 20px;
}
.filter {
  display: flex;
  justify-content: space-between;
  padding: 23px 0;
  flex-direction: column;
  gap: 20px;

}

.filter .search-form input{
  padding: 10px;  
  width: 100%;
}
.select {
  width: 42%;
  padding: 5px;
}
.grid { 
  display: grid;
  grid-template-columns: 1fr;
  gap:35px;
  
}
.description {
  padding: 15px;
  background-color: grey;
  color: white;
  font-family: roboto;
}

/* styling buttons and links inside the description box */
.functions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
}
/* "more" button style */
.functions a {
  color: white;
  font-style: italic;
  border: 1px solid lightgrey;
  padding: 3px 8px;
}
/* "Remove" button style */

button.remove {
  color: white;
  background-color: grey;
  border: 1px solid lightgrey;
  padding: 3px 8px;
}
/* .image {
  width: 345px;
  height: 180px;

} */
img {
  max-width: 100%;
}
article img {
  height: 180px;
  width: 100%;
}

/* Form style */
.contact {
  width: 80%;
  padding-top: 25px;
  padding-left: 70px;
  
}


/* footer */
footer {
  height: 50px;
  padding-top: 10px;
}
.media {
  display: inline;
  padding: 5px;
}

.media ul {
  margin-bottom: 0px;
  display: flex;
  padding: 10px 5px;
  justify-content: space-between;
}

.media ul li {
  list-style: none;
  font-size: 20px;
  border-radius: 45%;
  transform: .5s;
  width: 30px;
  text-align: center;
  margin: 10px;
}

li:hover {
  color: thistle;
}

.fab::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width .3s
}

.fab:hover::after {
  width: 100%;
  transition: width .3s;
}

