@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding: 20px; 
  backgroundColor:red;
  color:white;
}
h1 {
  text-align: center;
  padding-top: 20px;
}
.filter {
  display: flex;
  justify-content: space-between;
  padding: 23px 0;
  flex-direction: column;
  gap: 20px;

}

.filter .search-form input{
  padding: 10px;  
  width: 100%;
}
.select {
  width: 42%;
  padding: 5px;
}
.grid { 
  display: grid;
  grid-template-columns: 1fr;
  gap:35px;
  
}
.description {
  padding: 15px;
  background-color: grey;
  color: white;
  font-family: roboto;
  /* margin-top: -10px; */
  
}
img {
  max-width: 100%;
}
article img {
  height: 180px;
  width: 100%;
}